<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sách</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Danh sách sách</h1>
        <form method="POST" class="mb-4">
            <input type="text" name="search" class="form-control" placeholder="Tìm kiếm theo tên, tác giả, hoặc ISBN">
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Tiêu đề</th>
                    <th>Tác giả</th>
                    <th>ISBN</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ 'Có sẵn' if book.available else 'Đã mượn' }}</td>
                    <td>
                              {% if book.available %}
                                  <a href="{{ url_for('borrow_book', book_id=book.id) }}" class="btn btn-primary">Mượn</a>
                              {% else %}
                                  <a href="{{ url_for('book_detail', book_id=book.id) }}" class="btn btn-info">Chi tiết</a>
                              {% endif %}
                   </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{url_for('add_user')}}" class="btn btn-success">Thêm thành viên thư viện</a>
        <a href="{{ url_for('add_book') }}" class="btn btn-success">Thêm sách mới</a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Đăng xuất</a>
    </div>
</body>
</html>
